<% @title = "アカウント情報編集（確認）" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @staff_member, scope: "form",
    url: :staff_account do |f| %>
    <%  p = ConfirmPresenter.new( f, self ) %>

    <%= p.text_field_block :email, "メールアドレス" %>
    <%= p.full_name_block  :family_name, :given_name, "氏名" %>
    <%= p.full_name_block  :family_name_kana, :given_name_kana, "フリガナ"  %>

    <div class="buttons">
      <%= f.submit " 更新 " %>
      <%= f.submit " 訂正 ", name: "correct"  %>
    </div>
  <% end %>
</div>
