<% @title = " 新規問い合わせ "  %>
<h1><%= @title %></h1>

<div id="generic-form" >
  <%= form_with model: @message, url: :confirm_customer_messages do |f| %>
    <% p = FormPresenter.new( f, self ) %>
    <%= p.text_field_block( :subject, " 件名 ", size: 40, maxlength: 80, required: true ) %>
    <%= p.text_area_block( :body, " 本文 ", rows: 6, maxlength: 800, style: "width: 454px" , required: true ) %>
    <div class="buttons">
      <%= f.submit " 確認画面へ進む " %>
      <%= link_to " キャンセル ", :customer_root %>
    </div>
  <% end %>
</div>
