<% if false %><!--// skip //--!>
<%= f.fields_for :work_address, f.object.customer.work_address do |ff| %>
  <%= markup do |m|
    p = FormPresenter.new( ff, self )
    m << p.text_field_block( :company_name, "会社名", size: 40, required: true )
    m << p.text_field_block( :division_name, "部署名", size: 40 )
    m << p.postal_code_block( :postal_code, "郵便番号", size: 7 )
    m << p.drop_down_list_block( :prefecture, "都道府県", 
                                 Address::PREFECTURE_NAMES )
    m << p.text_field_block( :city, "市区町村", size: 16 )
    m << p.text_field_block( :address1, "町域、番地等", size: 40 )
    m << p.text_field_block( :address2, "建物名、部屋番号等", size: 40 )

    m.div( class: "input-block" ) do
      m << p.decorated_label( :phones, "電話番号" )
      m.ol do
        p.object.phones.each_with_index do |phone, index|
          m << render( "phone_fields", f: ff, phone: phone, index: index )
        end
      end
    end
  end %>
<% end %>
<% end %><!--// end if //--!>
<% if true %><!--// temp //--!>

<%= f.fields_for :work_address, f.work_address do |ff| %>
  <% p = FormPresenter.new( ff, self ) %>
  <%= p.text_field_block :company_name, "会社名", size: 40, required: true %>
  <%= p.text_field_block :division_name, "部署名", size: 40 %>
  <%= p.postal_code_block :postal_code, "郵便番号", size: 7 %>
  <%= p.drop_down_list_block( :prefecture, "都道府県", 
                               Address::PREFECTURE_NAMES %>
  <%= p.text_field_block :city, "市区町村", size: 16 %>
  <%= p.text_field_block :address1, "町域、番地等", size: 40 %>
  <%= p.text_field_block :address2, "建物名、部屋番号等", size: 40 %>
  <div class="input-block">
    <%= p.decorated_label :phones, "電話番号" %>
    <ol>
      <% p.phones.each do |phone| %>
        <%= ff.fields_for :phones, phone do |fff| %>
          <li>
            <% fff.text_field :number %>
            <% fff.check_box :primary %>
            <% fff.label :primary, "優先" %>
          </li>
        <% end %>
      <% end %>
    </ol>
  </div>
<% end %>

<% end %><!--// end if //--!>
