<% @title = "顧客詳細情報" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <table class="attributes">
    <tr>
      <th colspan="2">基本情報</th>
    </tr>
    <% #p1 = CustomerPresenter.new( @customer, self ) %>
    <tr>
      <th>氏名</th>
      <td><%= @customer.full_name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= @customer.full_name_kana %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td class="date"><%= date_view( @customer.birthday ) %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><%= @customer.gender_desc %></td>
    </tr>
    <tr>
      <th>登録日時</th>
      <td class="date"><%= datetime_view( @customer.created_at ) %></td>
    </tr>
    <tr>
      <th>更新日時</th>
      <td class="date"><%= datetime_view( @customer.updated_at ) %></td>
    </tr>
    <tr>
      <th>個人電話番号（１）</th>
      <td><%= @customer.personal_phones_array[0] %></td>
    </tr>
    <tr>
      <th>個人電話番号（２）</th>
      <td><%= @customer.personal_phones_array[1] %></td>
    </tr>

    <% if home = @customer.home_address %>
      <% #p2 = AddressPresenter.new( home. self ) %>
      <tr>
        <th colspan="2">自宅住所</th>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= home.postal_code_view %></td>
      </tr>
      <tr>
        <th>都道府県</th>
        <td><%= home.prefecture %></td>
      </tr>
      <tr>
        <th>市区町村</th>
        <td><%= home.city %></td>
      </tr>
      <tr>
        <th>町域、番地など</th>
        <td><%= home.address1 %></td>
      </tr>
      <tr>
        <th>建物名、部屋番号など</th>
        <td><%= home.address2 %></td>
      </tr>
      <tr>
        <th>自宅電話番号（１）</th>
        <td><%= home.phones_array[0] %></td>
      </tr>
      <tr>
        <th>自宅電話番号（２）</th>
        <td><%= home.phones_array[1] %></td>
      </tr>
    <% end %>

    <% if work = @customer.work_address %>
      <% #p3 = AddressPresenter.new( work. self ) %>
      <tr>
        <th colspan="2">勤務先</th>
      </tr>
      <tr>
        <th>会社名</th>
        <td><%= work.company_name %></td>
      </tr>
      <tr>
        <th>部署名</th>
        <td><%= work.division_name %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= work.postal_code %></td>
      </tr>
      <tr>
        <th>都道府県</th>
        <td><%= work.prefecture %></td>
      </tr>
      <tr>
        <th>市区町村</th>
        <td><%= work.city %></td>
      </tr>
      <tr>
        <th>町域、番地など</th>
        <td><%= work.address1 %></td>
      </tr>
      <tr>
        <th>建物名、部屋番号など</th>
        <td> <%= work.address2 %></td>
      </tr>
      <tr>
        <th>勤務先電話番号（１）</th>
        <td><%= work.phones_array[0] %></td>
      </tr>
      <tr>
        <th>勤務先電話番号（２）</th>
        <td><%= work.phones_array[1] %></td>
      </tr>
    <% end %>
  </table>
</div>

