<header>
  <%= link_to "BAUKIS2", :staff_root, class: "logo-mark" %>
  <%= content_tag(:span, flash.notice, class: "notice") if flash.notice %>
  <%= content_tag(:span, flash.alert, class: "alert") if flash.alert %>

  <% unless current_staff_member %>
          <%= link_to "ログイン", :staff_login  %>
  <% else %>
      <%= link_to "ログアウト", :staff_session, method: :delete %>
      <%= link_to "アカウント", :staff_account %>
      <a href="#" >新規問い合わせ
        <%= CustomerMessage.number_of_unprocessed_message %></a>
  <% end %>
</header>

